<div class="article-container">
  <div class="article-header">
    <img src="<%= article.escape('image_url') %>" class="overlay">
    
    <div class="article-subdetails">
      <% if (article.album) { %>
        <span class="glyphicon glyphicon-record"></span>
        <a href="/#/albums/<%= article.album.id %>">
          <%= article.album.escape('title') %>
        </a>
      <% } %>
    </div>
    
    <div class="article-details">
      <h2 class="article-title"><span><%= article.escape('title') %></span></h2>
      <% if (article.artist) { %>
        <br>
        <a href="/#/artists/<%= article.artist.id %>">
          <h3 class="article-artist"><span><%= article.artist.escape('name') %></span></h3>
        </a>
      <% } %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <div class="follow-button-container"></div>
      <div class="article-text"></div>
    </div>
    <div class="annotation-container col-md-4"></div>
  </div>
  <div class="row">
    <div class="suggestions-container col-md-6"></div>
  </div>
</div>
