<div class="annotation-partial">
  <div class="annotation-header">
    <h4 class="annotation-slug">“<%= annotation.escape('slug') %></h4>
    <h6 class="annotation-article">
      <a href="/#/articles/<%= article.id %>">
        <%= _.escape(article.title) %> by <%= _.escape(article.artist_name) %>
      </a>
    </h6>
  </div>
  <div class="annotation-display">
    <div class="annotation-body">
      <p><%= marked(annotation.escape('body')) %></p>
    </div>
    <% if (author.id == App.user.id) { %>
      <div class="annotation-controls">
        <a href="#" class="edit-annotation-link">
          edit
        </a>
        <span> | </span>
        <a href="#" class="delete-annotation-link">
          delete
        </a>
      </div>
    <% } %>
  </div>

  <% if (author.id == App.user.id) { %>
    <div class="annotation-form-container" style="display: none">
      <%= formTemplate({ annotation: annotation }) %>
    </div>
  <% } %>
</div>