<h1 class="artist-name"><%= artist.escape('name') %></h1>

<div class="row">
  
  <div class="col-md-7">
    <div class="follow-button-container"></div>
    <ul class="artist-article-list article-list">
    <% artist.articles().each(function (article) { %>
      <a href="/#/articles/<%= article.id %>">
        <li>
          <span class="article-title">
            <%= article.escape('title') %>
          </span>
        </li>
      </a>
    <% }); %>
    </ul>
  </div>
  
  <div class="col-md-5 artist-details">
    <% if (artist.escape('image_url')) { %>
      <img src="<%= artist.escape('image_url') %>">
    <% } else { %>
      <button class="btn btn-default filepicker-button">
        Add a photo
      </button>
    <% } %>
    <h4>About <%= artist.escape('name') %></h4>
    <div class="artist-description">
      <% if (artist.escape('description')) { %>
        <p><%= marked(artist.escape('description')) %></p>
      <% } else { %>
        <button class="btn btn-default add-artist-description-button">
          Add a description
        </button>
        
        <form role="form" 
              id="artist-description-form" 
              style="display: none">
          <textarea 
            class="form-control" 
            name ="artist[description]"
            placeholder="A tale from the artist's life, or one of the artist's little-known superpowers."></textarea>
            <input type="submit" value="Submit" class="form-control btn btn-default">
            <button class="cancel-button btn btn-default">Cancel</button>
        </form>
      <% } %>
    </div>
    
    <h4><%= artist.escape('name') %>'s Albums</h4>
    <ul class="artist-album-list">
      <% artist.albums().each(function (album) { %>
        <a href="/#/albums/<%= album.id %>">
          <li><%= album.escape('title') %></li>
        </a>
      <% }); %>
    </ul>
  </div>
  
</div>