<% action = kind == "Sign Up" ? users_url : session_url %>
<% label_id = kind == "Sign Up" ? "new-user" : "user" %>

<form action="<%= action %>" method="post">
  <input 
    type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">
    
  <label for="<%= label_id %>-username">
    Username
  </label>
  <input type="text"
         name="user[username]"
         id="<%= label_id %>-username">
  <label for="<%= label_id %>-password">
    Password
  </label>
  <input type="password"
         name="user[password]"
         id="<%= label_id %>-password">
  <input type="submit" value="<%= kind %>">
  
</form>