<% if (suggestable && App.user) { %>

<form class="suggestion-form">
  <input type="hidden" 
         name="suggestion[suggestable_id]" 
         value="<%= suggestable.id %>">
  <input type="hidden"
         name="suggestion[suggestable_type]"
         value="<%= suggestableType %>">
  <div class="form-group">
    <textarea placeholder="Suggest an improvement or misdirection"
              class="form-control"
              rows="3"
              name="suggestion[body]"></textarea>
  <input type="submit" class="btn btn-default" value="Post suggestion">
</form>
<% } %>

<ul class="suggestion-list">
  <% suggestions.each(function (suggestion) { %>
  <li>
    <div class="suggestion-content">
      <div class="suggestion-header">
        <h4>Posted by <%= suggestion.author.escape('username') %></h4>
        <span class="suggestion-date">
          <%= suggestion.escape('created_at') %>
        </span>
      </div>
      <div class="suggestion-body">
        <%= suggestion.escape('body') %>
      </div>
    </div>
  </li>
  <% }); %>
</ul>