<% if (suggestable && App.user) { %>

<form class="suggestion-form">
  <input type="hidden" 
         name="suggestion[suggestable_id]" 
         value="<%= suggestable.id %>">
  <input type="hidden"
         name="suggestion[suggestable_type]"
         value="<%= suggestableType %>">
  <div class="form-group">
    <textarea placeholder="Suggest an improvement or clarification"
              class="form-control"
              rows="3"
              name="suggestion[body]"></textarea>
  <input type="submit" class="btn btn-default" value="Post suggestion">
</form>
<% } %>

<ul class="suggestion-list">
  <% suggestions.each(function (suggestion) { %>
  <li>
    <div class="suggestion-content">
      <div class="suggestion-header">
        <div class="suggestion-text">
          <h4>Posted by <a href="/#/users/<%= suggestion.author.id %>"><%= suggestion.author.escape('username') %></a></h4>
          <time class="suggestion-date timeago"><%= $.timeago(new Date(suggestion.escape('created_at'))) %></time>
        </div>
      </div>
      <div class="suggestion-body">
        <div class="suggestion-text">
        <%= marked(suggestion.escape('body')) %>
      </div>
    </div>
  </li>
  <% }); %>
</ul>