<div class="results-summary">
  <span class="glyphicon glyphicon-search"> </span>
  <% if (results){ %>
    <%= results.length %> results for '<%= query %>'
  <% } else { %>
    Fetching results...
  <% } %>
</div>
<div class="results-container">
  <ul class="article-list">
    <% _(results).each(function (result) { %>
      <a href="/#/articles/<%= result.id %>">
        <li class="search-result">
            <div>
            <span class="article-title">
              <%= _.escape(result.title) %>
            </span>
            <br>
            <span class="article-artist">
              <%= _.escape(result.artist_name) %>
            </span>
            </div>
        </li>
      </a>
      
      <% }); %>
  </ul>
</div>