<!DOCTYPE html>
<html>
<head>
  <title>RapGenome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
  
  <script>
  filepicker.setKey("A1g3pYmOQRCGVFAqgBdfBz");
  </script>
</head>
<body>
  
<%= render partial: 'layouts/header' %>
<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <div><%= message %></div>
  <% end %>
<% end %>


<% unless signed_in? %>
  <%= render partial: 'users/modals' %>
<% end %>

<%= yield %>

</body>
</html>
