<!DOCTYPE html>
<html>
<head>
  <title>RapGenome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= render partial: 'layouts/header' %>

<% unless signed_in? %>
  <%= render partial: 'users/modals' %>
<% end %>

<%= yield %>

</body>
</html>
